:root {
    --primary-color: #017dc3;
    /* Blue */
    --secondary-color: #fdb813;
    /* Gold */
    --tertiary-color: #8ac73e;
    /* Green */
}

/* Example usage */
.primary-bg {
    background-color: var(--primary-color);
}

.secondary-bg {
    background-color: var(--secondary-color);
}

.tertiary-bg {
    background-color: var(--tertiary-color);
}

/* Text colors */
.primary-text {
    color: var(--primary-color);
}

.secondary-text {
    color: var(--secondary-color);
}

.tertiary-text {
    color: var(--tertiary-color);
}